<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sky1998.mongo.wxapp.mapper.MesaageMapper">
  <resultMap id="BaseResultMap" type="cn.sky1998.mongo.wxapp.domain.Mesaage">
    <!--@mbg.generated-->
    <!--@Table g_mesaage-->
    <id column="id" property="id" />
    <result column="openid" property="openid" />
    <result column="mes" property="mes" />
    <result column="to_openid" property="toOpenid" />
    <result column="create_time" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, openid, mes, to_openid, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from g_mesaage
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from g_mesaage
    where id = #{id}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.sky1998.mongo.wxapp.domain.Mesaage" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into g_mesaage (openid, mes, to_openid, create_time)
    values (#{openid}, #{mes}, #{toOpenid}, #{createTime})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="cn.sky1998.mongo.wxapp.domain.Mesaage" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into g_mesaage
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="openid != null">
        openid,
      </if>
      <if test="mes != null">
        mes,
      </if>
      <if test="toOpenid != null">
        to_openid,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="openid != null">
        #{openid},
      </if>
      <if test="mes != null">
        #{mes},
      </if>
      <if test="toOpenid != null">
        #{toOpenid},
      </if>
      <if test="createTime != null">
        #{createTime},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.sky1998.mongo.wxapp.domain.Mesaage">
    <!--@mbg.generated-->
    update g_mesaage
    <set>
      <if test="openid != null">
        openid = #{openid},
      </if>
      <if test="mes != null">
        mes = #{mes},
      </if>
      <if test="toOpenid != null">
        to_openid = #{toOpenid},
      </if>
      <if test="createTime != null">
        create_time = #{createTime},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.sky1998.mongo.wxapp.domain.Mesaage">
    <!--@mbg.generated-->
    update g_mesaage
    set openid = #{openid},
      mes = #{mes},
      to_openid = #{toOpenid},
      create_time = #{createTime}
    where id = #{id}
  </update>

  <select id="getList" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from g_mesaage
    <where>
      <if test="openid">
        openid=#{openid}
      </if>
    </where>
    </select>
</mapper>