<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sky1998.mongo.wxapp.mapper.SwagMapper">
  <resultMap id="BaseResultMap" type="cn.sky1998.mongo.wxapp.domain.Swag">
    <!--@mbg.generated-->
    <!--@Table g_swag-->
    <id column="id" property="id" />
    <result column="openid" property="openid" />
    <result column="to_openid" property="toOpenid" />
    <result column="msg1" property="msg1" />
    <result column="msg2" property="msg2" />
    <result column="create_time" property="createTime" />
    <result column="plan_id" property="planId" />
  </resultMap>

  <resultMap id="BaseResultMapVo" type="cn.sky1998.mongo.wxapp.domain.SwagPublicUserPlanVo">
    <!--@mbg.generated-->
    <!--@Table g_swag-->
    <collection property="publicUser" ofType="cn.sky1998.mongo.wxapp.domain.PublicUser">
      <!--@mbg.generated-->
      <!--@Table g_public_user-->
      <id column="id" property="id" />
      <result column="nick_name" property="nickName" />
      <result column="openid" property="openid" />
      <result column="wx_id" property="wxId" />
      <result column="sex" property="sex" />
      <result column="tel" property="tel" />
      <result column="subscribe" property="subscribe" />
      <result column="subscribe_time" property="subscribeTime" />
      <result column="subscribe_scene" property="subscribeScene" />
      <result column="create_time" property="createTime" />
    </collection>
    <collection property="swag" ofType="cn.sky1998.mongo.wxapp.domain.Swag">
      <id column="id" property="id" />
      <result column="openid" property="openid" />
      <result column="to_openid" property="toOpenid" />
      <result column="msg1" property="msg1" />
      <result column="msg2" property="msg2" />
      <result column="create_time" property="createTime" />
      <result column="plan_id" property="planId" />
    </collection>
   <collection property="plan" ofType="cn.sky1998.mongo.wxapp.domain.Plan">
     <id column="id" property="id" />
     <result column="name" property="name" />
     <result column="des" property="des" />
     <result column="periods" property="periods" />
     <result column="create_time" property="createTime" />
     <result column="enable" property="enable" />
     <result column="end" property="end" />
   </collection>
  </resultMap>

  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    s.id, s.openid, s.to_openid, s.msg1, s.msg2, s.create_time, s.plan_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from g_swag s
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from g_swag
    where id = #{id}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.sky1998.mongo.wxapp.domain.Swag" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into g_swag (openid, to_openid, msg1, msg2, create_time, plan_id)
    values (#{openid}, #{toOpenid}, #{msg1}, #{msg2}, #{createTime}, #{planId})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="cn.sky1998.mongo.wxapp.domain.Swag" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into g_swag
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="openid != null">
        openid,
      </if>
      <if test="toOpenid != null">
        to_openid,
      </if>
      <if test="msg1 != null">
        msg1,
      </if>
      <if test="msg2 != null">
        msg2,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="planId != null">
        plan_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="openid != null">
        #{openid},
      </if>
      <if test="toOpenid != null">
        #{toOpenid},
      </if>
      <if test="msg1 != null">
        #{msg1},
      </if>
      <if test="msg2 != null">
        #{msg2},
      </if>
      <if test="createTime != null">
        #{createTime},
      </if>
      <if test="planId != null">
        #{planId},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.sky1998.mongo.wxapp.domain.Swag">
    <!--@mbg.generated-->
    update g_swag
    <set>
      <if test="openid != null">
        openid = #{openid},
      </if>
      <if test="toOpenid != null">
        to_openid = #{toOpenid},
      </if>
      <if test="msg1 != null">
        msg1 = #{msg1},
      </if>
      <if test="msg2 != null">
        msg2 = #{msg2},
      </if>
      <if test="createTime != null">
        create_time = #{createTime},
      </if>
      <if test="planId != null">
        plan_id = #{planId},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.sky1998.mongo.wxapp.domain.Swag">
    <!--@mbg.generated-->
    update g_swag
    set openid = #{openid},
      to_openid = #{toOpenid},
      msg1 = #{msg1},
      msg2 = #{msg2},
      create_time = #{createTime},
      plan_id = #{planId}
    where id = #{id}
  </update>

  <select id="search" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    distinct s.id,
    <include refid="Base_Column_List" />
    from g_swag s
    where  s.openid != #{openid} and s.to_openid is null
  </select>

  <select id="getSwag" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    distinct s.id,
    <include refid="Base_Column_List" />
    from g_swag s
    where  s.openid = #{openid} and s.to_openid is not null
  </select>

  <select id="getSwagTo" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    distinct s.id,
    <include refid="Base_Column_List" />
    from g_swag s
    where  s.to_openid = #{toOpenid} and s.to_openid is not null
  </select>

  <select id="getList" resultMap="BaseResultMapVo">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />,
    p.periods,
    p.name,
    pu.nick_name
    from g_swag s
    left join g_public_user pu on s.openid=pu.openid
    left join g_plan p on p.id=s.plan_id
    <where>
      <if test="planId!=null ">
        and s.plan_id=#{planId}
    </if>
      <if test="openid!=null ">
        and s.openid=#{openid}
      </if>
      <if test="toOpenid!=null ">
        and s.to_openid=#{toOpenid}
      </if>
    </where>
  </select>

  <select id="getListBySwag" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from g_swag s
    <where>
      <if test="planId!=null">
        and s.plan_id=#{planId}
      </if>
      <if test="openid!=null">
        and s.openid=#{openid}
      </if>
    </where>
    </select>

  <select id="getSwagBySwag" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from g_swag s
    <where>
      <if test="planId!=null">
        and s.plan_id=#{planId}
      </if>
      <if test="openid!=null">
        and s.openid=#{openid}
      </if>
    </where>
  </select>
</mapper>