<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sky1998.mongo.system.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="cn.sky1998.mongo.system.domain.Role">
    <!--@mbg.generated-->
    <!--@Table sys_role-->
    <id column="id" property="id" />
    <result column="name" property="name" />
    <result column="description" property="description" />
    <result column="sort" property="order" />
    <result column="enable" property="enable" />
    <result column="del" property="del" />
    <result column="remark" property="remark" />
  </resultMap>

  <resultMap id="BaseRoleMenuMap" type="cn.sky1998.mongo.system.domain.dto.RoleMenuDto" extends="BaseResultMap">


    <collection property="menus" ofType="cn.sky1998.mongo.system.domain.Menu">
      <id column="id" property="menuId" />
      <result column="menu_name" property="menuName" />
      <result column="remark" property="remark" />
    </collection>

  </resultMap>

  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    sr.id, sr.`name`, sr.description, sr.sort, sr.`enable`, sr.del, sr.remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from sys_role
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from sys_role
    where id = #{id}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.sky1998.mongo.system.domain.Role" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into sys_role (`name`, description, sort, `enable`, del, remark)
    values (#{name}, #{description}, #{order}, #{enable}, #{del}, #{remark})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="cn.sky1998.mongo.system.domain.Role" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into sys_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `name`,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="order != null">
        sort,
      </if>
      <if test="enable != null">
        `enable`,
      </if>
      <if test="del != null">
        del,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name},
      </if>
      <if test="description != null">
        #{description},
      </if>
      <if test="order != null">
        #{order},
      </if>
      <if test="enable != null">
        #{enable},
      </if>
      <if test="del != null">
        #{del},
      </if>
      <if test="remark != null">
        #{remark},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.sky1998.mongo.system.domain.Role">
    <!--@mbg.generated-->
    update sys_role
    <set>
      <if test="name != null">
        `name` = #{name},
      </if>
      <if test="description != null">
        description = #{description},
      </if>
      <if test="order != null">
        sort = #{order},
      </if>
      <if test="enable != null">
        `enable` = #{enable},
      </if>
      <if test="del != null">
        del = #{del},
      </if>
      <if test="remark != null">
        remark = #{remark},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.sky1998.mongo.system.domain.Role">
    <!--@mbg.generated-->
    update sys_role
    set `name` = #{name},
      description = #{description},
      sort = #{order},
      `enable` = #{enable},
      del = #{del},
      remark = #{remark}
    where id = #{id}
  </update>

  <select id="getlist" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from sys_role sr
    <where>
      <if test="id != null">
        and  id=#{id}
      </if>
    </where>
    </select>

  <insert id="assignMenu" parameterType="cn.sky1998.mongo.system.domain.RoleMenuVo">
    insert into sys_role_menu(role_id,menu_id)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{id},#{item.id})
    </foreach>

    </insert>

  <select id="getRoleMenu" resultMap="BaseRoleMenuMap">
    <!--@mbg.generated-->
    select
    srm.id,
    srm.del,

    sr.id,
    sr.name,

    sm.menu_id,
    sm.menu_name as menu_name,
    sm.`remark`

    from sys_role sr
    left join sys_role_menu srm on srm.role_id=sr.id
    left join sys_menu sm on sm.menu_id=srm.menu_id
    where sr.id=#{id}
    </select>

  <update id="removeRoleMenu">
    update sys_role_menu
    set del=#{del}
    where id=#{voId}
  </update>

  <select id="checkMenuExistRole" resultType="Integer">
    select count(1) from sys_role_menu where menu_id = #{menuId}
  </select>
</mapper>