<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sky1998.mongo.wxapp.mapper.KeywordMapper">
  <resultMap id="BaseResultMap" type="cn.sky1998.mongo.wxapp.domain.Keyword">
    <!--@mbg.generated-->
    <!--@Table g_keyword-->
    <id column="id" property="id" />
    <result column="word" property="word" />
    <result column="reply" property="reply" />
    <result column="enable" property="enable" />
    <result column="remark" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, word, reply, `enable`,remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from g_keyword
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from g_keyword
    where id = #{id}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.sky1998.mongo.wxapp.domain.Keyword" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into g_keyword (word, reply, `enable`,remark)
    values (#{word}, #{reply}, #{enable}, #{remark})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="cn.sky1998.mongo.wxapp.domain.Keyword" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into g_keyword
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="word != null">
        word,
      </if>
      <if test="reply != null">
        reply,
      </if>
      <if test="enable != null">
        `enable`,
      </if>
      <if test="remark != null">
        `remark`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="word != null">
        #{word},
      </if>
      <if test="reply != null">
        #{reply},
      </if>
      <if test="enable != null">
        #{enable},
      </if>
      <if test="remark != null">
        #{remark},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.sky1998.mongo.wxapp.domain.Keyword">
    <!--@mbg.generated-->
    update g_keyword
    <set>
      <if test="word != null">
        word = #{word},
      </if>
      <if test="reply != null">
        reply = #{reply},
      </if>
      <if test="enable != null">
        `enable` = #{enable},
      </if>
      <if test="remark != null">
        `remark` = #{remark},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.sky1998.mongo.wxapp.domain.Keyword">
    <!--@mbg.generated-->
    update g_keyword
    set word = #{word},
      reply = #{reply},
      `enable` = #{enable},
    `remark` = #{remark}
    where id = #{id}
  </update>

  <select id="getList" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from g_keyword
    <where>
      <if test="word != null">
        and word=#{word}
      </if>
      <if test="id != null">
        and id=#{id}
      </if>
    </where>
    </select>

  <select id="selectByWord" parameterType="string" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from g_keyword
    where enable=0
      <if test="word != null">
        and word=#{word}
      </if>

  </select>
</mapper>